@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton-Regular.ttf');
  font-weight: normal;
}

a {
  cursor: pointer;
}
span {
  color: #1d1d1d;
}

@media (min-width: 1904px) {
  .container {
    max-width: 1185px;
  }
}
