.txt-prewarp {
  white-space: pre-wrap;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center
}
.no-wrap {
  white-space: nowrap;
}
.txt-bold {
  font-weight: 700;
}
.txt-demi {
  font-weight: 600;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-primary {
  color: map-get($color, primary);
}

.txt-xs {
  @include pxRem(font-size, 12);
  @include pxRem(line-height, 18);
}
.txt-sm {
  @include pxRem(font-size, 14);
  @include pxRem(line-height, 22);
}
.txt-md {
  @include pxRem(font-size, 16);
  @include pxRem(line-height, 24);
}
.txt-lg {
  @include pxRem(font-size, 18);
  @include pxRem(line-height, 31);
}
.txt-xl {
  @include pxRem(font-size, 20);
  @include pxRem(line-height, 34);
}
.txt-xxl {
  @include pxRem(font-size, 28);
  @include pxRem(line-height, 36);
}
.txt-xxl {
  @include pxRem(font-size, 32);
  @include pxRem(line-height, 40);
}
.txt-24 {
  @include pxRem(font-size, 24);
  @include pxRem(line-height, 34);
}
